################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Homeworks/EF/src/PromoCodeFactory.WebHost/PromoCodeFactory.db
